In [ ]:
# Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

num1 = 20
num2 = 30

if num1 *num2 <=1000:
  print(num1*num2)
else:
  print(num1+num2)

600

In [ ]:
numx=40
numy=30
if numx*numy<=1000:
  print(numx*numy)
else:
  print(numx+numy)

70

In [ ]:
from re import I
# Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

i = 0

for x in range (1,11):
   sum = i+x
   print("Current Number",i , "Previous Number",i,"Sum:",sum)

Current Number 0 Previous Number 0 Sum: 1
Current Number 0 Previous Number 0 Sum: 2
Current Number 0 Previous Number 0 Sum: 3
Current Number 0 Previous Number 0 Sum: 4
Current Number 0 Previous Number 0 Sum: 5
Current Number 0 Previous Number 0 Sum: 6
Current Number 0 Previous Number 0 Sum: 7
Current Number 0 Previous Number 0 Sum: 8
Current Number 0 Previous Number 0 Sum: 9
Current Number 0 Previous Number 0 Sum: 10

In [ ]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

In [ ]:
# Write a Python code to accept a string from the user and display characters present at an even index number.

String = (input("Enter a string:"))

x=len(String)

for i in range(0,x-1,2):
  print("index[",i,"]",String[i])

In [ ]:
# rite a Python code to remove characters from a string from 0 to n and return a new string.
#For Example:

#remove_chars("PYnative", 4) so output must be tive. Here, you need to remove the first four characters from a string.
#remove_chars("PYnative", 2) so output must be native. Here, you need to remove the first two characters from a string.

In [ ]:
num=int(input("Enter a number:"))
i=1
while i<=10:
  print(num*i)
  i+=1

In [ ]:
num=int(input("Enter a number:"))
L1 = [1,4,9,16,25,36,49,64,81,100]
idx=0
for x in L1:
  if (x==num):
    print("Found",idx)
    idx+=1
    break

else:
  print("not found")

In [ ]:
L1 = [1,4,9,16,25,36,49,64,81,100]
idx=0
while idx<len(L1):
  print(L1[idx])
  idx+=1

In [ ]:
num=int(input("Enter a number:"))
L1 = (1,4,9,16,25,36,49,64,81,100)
i=0
while i < len(L1):
  if (L1[i]==num):
    print("Found",i)
  i+=1

In [ ]:
a=input("Enter a string:")
reverse = a[::-1]
if (a==reverse):
  print("Palindrome")
else:
  print("Symmetrical")

In [ ]:
l=[1,2,3,4,5,6]
x =  [(n,n**3) for n in l ]:
  print(x)

In [ ]:
import pandas as pd